
    <form class="form detailForm" [formGroup]="form">
        
        <mat-form-field class = "formField" appearance="legacy">
            <mat-label>Account number</mat-label>
            <input matInput placeholder="Placeholder" type="text" formControlName="accountNumber">
        </mat-form-field>

        <mat-form-field class = "formField"  appearance="legacy">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Placeholder" type="text" formControlName="amount">
        </mat-form-field>

        <mat-form-field class = "formField" appearance="legacy">
            <mat-label>Issue date</mat-label>
            <input matInput placeholder="Placeholder" type="text" formControlName="issueDate">
        </mat-form-field>
    </form> 
